/* Toolbar.css */
.toolbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: var(--color-toolbar-bg);
  color: var(--color-toolbar-fg);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container {
  position: relative;
  height: 24px;

  &:hover {
    color: white;
  }
  &.active {
    color: var(--color-active);
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
}

.icon-key {
  position: absolute;
  user-select: none;
  top: -5px;
  left: -5px;
  font-size: 10px;
}
