/* BaseShape.css */
.base-shape {
  /* cursor: pointer; */
}
.resizable.corner {
  fill: var(--color-active);
  cursor: crosshair;
}
.resizable.edge {
  &[origin="s"] {
    cursor: ns-resize;
  }
  &[origin="n"] {
    cursor: ns-resize;
  }
  &[origin="e"] {
    cursor: ew-resize;
  }
  &[origin="w"] {
    cursor: ew-resize;
  }
}
.edge-forground {
  fill: var(--color-active);
}
text {
  fill: var(--color-fg);
  user-select: none;
}
