/* Rect.css */
.rect-shape {
  fill: var(--color-shape-bg);
  color: var(--color-shape-fg);
  stroke: var(--color-shape-fg);
  stroke-width: 2;
}

.rect-title {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 14px;
}
